:root {
  --heading-font-family: "Lora", serif;
  --default-font-family: "Open Sans", sans-serif;
  --branding-color: #b88746;
  /*#b88746: rgb(184, 135, 70)*/
  --first-color: #1a3263;
  --second-color: #f5564e;
  --background-color: #fafafa;
  --hero-background-color: #e8e2db;
  --font-color: #757575;
  /*#757575: rgb(117, 117, 117)*/
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background: var(--background-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--first-color);
}

.contact-container h1,
.work-container h1,
.about-container h1 {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

h2,
h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.hero h2,
.hero h3 {
  opacity: 80%;
  line-height: 1.5;
}

.contact-bar-wrapper h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  padding-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  background: var(--hero-background-color);
  padding: 60px;
  text-align: center;
  margin-bottom: 130px;
}

.hero-link a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--first-color);
}

.hero-link {
  display: inline-block;
  padding: 15px 20px;
  user-select: none;
  border: solid var(--branding-color) 1px;
  border-radius: 10px;
  margin-top: 60px;
}

.hero-link a:hover {
  color: var(--branding-color);
}

.project {
  text-align: center;
  padding-bottom: 40px;
  max-width: 850px;
  margin: 0 auto 0;
}

.project-title {
  height: 1px;
  background: #dddddd;
  border-bottom: #fff solid 1px;
  margin-bottom: 51.2px;
  position: relative;
}

.project-title h3 {
  background: var(--background-color);
  color: var(--font-color);
  font-size: 16px;
  font-weight: normal;
  font-family: var(--heading-font-family);
  position: absolute;
  top: -12.8px;
  left: 50%;
  margin-left: -160px;
  padding: 0;
  width: 300px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.project-cards {
  margin: 0 auto 0;
  display: grid;
  row-gap: 10px;
  column-gap: 50px;
}

.project-cards h2,
.project-cards p,
.project-cards li {
  text-align: left;
}

.project-cards h2 {
  color: var(--first-color);
}

.project-cards ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.project-cards li {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: var(--font-color);
}

.project-cards .card {
  color: black;
  padding-top: 16px;
}

.project-cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-cards .card-text {
  padding-top: 25px;
  max-width: 400px;
}

.project-cards .card-image {
  /*box-shadow: 0 0 1px rgba(184, 135, 70, 0.3);*/
  /*box-shadow: 0 0 5px rgba(184, 135, 70, 0.1);*/
  box-shadow: rgba(117, 117, 117, 0.1) 0px 3px 5px;
}

.contact-bar {
  text-align: center;
  padding: 120px 0;
  background: var(--hero-background-color);
}

.contact-bar-wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.link:hover {
  color: var(--branding-color);
}

.link {
  transition: all 0.5s ease;
  color: var(--first-color);
}

.contact-bar .link {
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-border {
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(117, 117, 117, 0.1);*/
  /* box-shadow: rgba(184, 135, 70, 0.1) 0px 1px 2px 0px;*/
  /* box-shadow: rgba(184, 135, 70, 0.04) 0px 3px 5px;*/
  box-shadow: rgba(184, 135, 70, 0.16) 0px 1px 4px;
  margin-top: 20px;
}

/*----- contact -----*/

.contact-container {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 140px 60px;
  text-align: left;
}

.contact-info-description {
  font-size: 14px;
}

.contact-image {
  width: 200px;
}

.contact-info-link {
  display: flex;
  margin: 30px 0;
}

.contact-info-link-content {
  margin-left: 10px;
  line-height: 2;
}

.contact-info-link-content img {
  width: 15px;
}

.contact-info-link-content a {
  display: inline-flex;
}

.contact-info-link-title {
  font-weight: bold;
}

.contact-info-link p {
  margin: 0;
  font-size: 12px;
}

.contact-info-link i {
  display: inline-block;
  color: white;
  background: var(--first-color);
  font-size: 18px;
  transition: all 100ms ease-in-out;
  border-radius: 5px;
  padding: 14px 14px;
}

.social-link a {
  display: inline-block;
  padding: 14px 18px;
  margin-right: 15px;
  border-radius: 50%;
  color: var(--first-color);
  background: var(--hero-background-color);
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.social-link a:hover {
  color: var(--background-color);
  background: var(--branding-color);
}

.contact-form {
  box-sizing: border-box;
  background: var(--first-color);
  border-radius: 5px;
  height: fit-content;
}

.contact-form-content {
  margin: 30px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 0;
  display: block;
  border: none;
  border-radius: 5px;
  width: 255px;
}

.contact-form input,
.contact-form textarea {
  padding-left: 12px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: smaller;
  opacity: 80%;
  font-family: var(--default-font-family);
}

.contact-form button {
  background-color: var(--hero-background-color);
  color: var(--first-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 268px;
}

.contact-form input {
  height: 33px;
  margin-bottom: 15px;
  padding-top: 3px;
}

.contact-form textarea {
  height: 80px;
  margin-bottom: 15px;
  padding-top: 10px;
}

.contact-form button:hover {
  background-color: var(--branding-color);
  color: var(--background-color);
}

/*-----  -----*/

.work-container {
  padding: 80px 0 10px;
  margin-bottom: 30px;
}

.about-container {
  padding: 80px 160px 60px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.about-container-flex {
  display: flex;
  margin-bottom: 30px;
}

.about-container-flex img {
  border-radius: 5px;
  max-width: 400px;
  max-height: 300px;
}

.about-container-flex-text {
  padding: 0 80px 0 40px;
}

summary .section-title {
  display: inline;
  cursor: pointer;
  color: var(--first-color);
}

details {
  margin-bottom: 15px;
}

details h3 {
  font-size: 18px;
}

details .section-text-container {
  margin: 16px 16px 48px;
}

details .section-text {
  padding: 10px 0;
  border-bottom: 1px dashed var(--branding-color);
}

/*----- navigation -----*/

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 5px 70px;
}

.nav-logo img {
  margin-top: 5px;
}

.nav-link.active {
  display: block;
}

.nav-link ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-link ul li {
  list-style: none;
  display: inline;
  line-height: 45px;
  border-radius: 4px;
}

.nav-link ul li a {
  display: block;
  color: var(--first-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  padding: 0 15px 0;
}

nav li a:hover,
nav li.active a {
  color: var(--branding-color);
  letter-spacing: 1.6px;
}

.nav-button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  display: none;
}

/*----- responsive -----*/

@media (min-width: 900px) {
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  nav {
    display: block;
    margin: 5px 30px;
  }
  .nav-logo img {
    width: 50px;
    height: 50px;
  }
  .nav-button {
    display: block;
    top: 15px;
  }
  .nav-link {
    display: none;
    width: 100%;
    background: var(--secondary-color);
    border-radius: 5px;
  }
  .nav-link ul {
    flex-direction: column;
    justify-content: flex-end;
  }
  nav li a:hover {
    background-color: var(--first-color);
  }
}
